* {
  margin: 0;
  padding: 0;
}

/* HEADER */
#headerId {
  display: flex;
  justify-content: left;
  align-items: center;
  height: auto;
  background-color: rgb(46, 100, 247);
}

#headerId a {
  margin-left: 20px;
  padding: 10px;
  color: white;
  text-decoration-line: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  transition: 0.5s;
}

#headerId a:hover {
  color: rgb(151, 151, 151);
}

#imgLogo {
  width: 60px;
  transition: 0.5s;
}
#imgLogo:hover {
  rotate: 360deg;
}

/* HEADER */

/* BODY INDEX */
#main-title {
  text-align: center;
  margin: 40px 0;
}

#contacts-table thead th {
  color: white;
  background-color: #007bff;
}

.col-id {
  font-weight: bold;
}

.actions {
  text-align: center;
  width: 200px;
}

.action i {
  font-size: 18px;
  margin-right: 5px;
}

.check-icon {
  color: #1e7e34;
  transition: 0.8s;
}
.check-icon:hover{
  font-size: 20px;
}
.edit-icon {
  color: #007bff;
  transition: 0.8s;
}
.edit-icon:hover{
  font-size: 20px;
}
.delete-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}
.delete-icon {
  color: #bd2130;
  transition: 0.8s;
}
.delete-icon:hover{
  font-size: 20px;
}

#empty-list-text {
  text-align: center;
}

#msg {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 10px;
  text-align: center;
  max-width: 500px;
  margin: 10px auto;
  margin-top: 30px;
}

/* BODY INDEX */

/* ABOUT CONTACT */
#container-button {
  display: flex;
  height: auto;
  align-items: center;
}
#view-button {
  position: absolute;
  color: #007bff;
  padding: 3px;
  border: 1px solid #007bff;
  border-radius: 10px;
  margin: 50px 0 0 0;
  text-decoration: none;
  transition: 0.3s;
}
#view-button:hover {
  padding: 5px;
  background-color: #007bff;
  border: 1px solid #fff;
  color: #fff;
}
/* ABOUT CONTACT */
