* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  box-sizing: border-box;
}

#main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#adrdress-container,
#form-container {
  flex: 1 1 0;
  height: 100vh;
  text-align: left;
}

#adrdress-container {
  background-image: url(../img/project_bg.jpg);
  background-size: cover;
  background-position-x: -100px;
  color: #fff;
  position: relative;
}

.fade {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
}

#adress-content {
  position: absolute;
  top: 25vh;
  left: 25%;
  width: 300px;
}

#adress-content h2 {
  color: #00ad5e;
  margin-bottom: 15px;
  position: relative;
  padding-left: 40px;
}

#adress-content p {
  margin-bottom: 40px;
  font-weight: bold;
}

#adress-content ion-icon {
  position: absolute;
  top: 2px;
  left: 0;
  bottom: 15px;
}

/* FORM CONTAINER */

#form-container {
  padding-top: 60px;
  text-align: center;
  height: 600px;
}

#form-container h2 {
  color: #888;
  margin-bottom: 50px;
  font-size: 30px;
}

#contact-form {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#contact-form label,
#contact-form input,
#contact-form textarea {
  display: block;
  padding: 10px;
  border: 1px solid #eee;
  width: 100%;
}

#contact-form input {
  margin-bottom: 15px;
}

#contact-form label {
  color: #777777;
  font-weight: bold;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
  color: #ccc;
}

#contact-form input[type="submit"] {
  background-color: #00ad5e;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  width: 300px;
  margin: 30px auto;
  border: 2px solid transparent;
  transition: 0.5s;
}

#contact-form input[type="submit"]:hover {
  border-color: #00ad5e;
  cursor: pointer;
  color: #00ad5e;
  background-color: #fff;
}

/* RESPONSIVO */

@media (max-width: 540px) {
  #main-container {
    height: 100%;
    flex-wrap: wrap;
  }
  #adrdress-container,
  #form-container {
    flex: 1 1 100%;
  }

  #form-container {
    order: -1;
    padding: 20px;
  }
  #form-container h2 {
    margin-bottom: 25px;
    font-size: 24px;
  }
  #contact-form {
    width: 100%;
  }
  #contact-form label,
  #contact-form input,
  #contact-form textarea {
    display: block;
    padding: 10px;
    border: 1px solid #aaa;
    width: 100%;
  }

  #contact-form label{
   font-size: 16px;
   padding: 5px;
  }
  #adrdress-container{
   background-position: 0;
   height: 600px;
  }
  #adress-content{
   width: auto;
   left: 18%;
  }
}
